<div class="container">
<h1>Posts</h1>
</div>

<% @posts.each do |post| %>
<div class="container">
  
    <%= image_tag post.picture_url, :width => '50%' if post.picture.present?%> 

    <h3><%= link_to post.title, post %></h3>
    
  </div>
<% end %>


<br />

<%= link_to 'New Post', new_post_path %>