<div class="container">
<ul class="thumbnails">
	<div class="row">
    <div class="span6 offset4">
        <div class="well">



<% @posts.reverse_each do |post| %>


	<h3><%= link_to post.title, post %></h3>
  
    <%= image_tag post.picture_url, :width => '100%' if post.picture.present?%> 

    
    
  
<% end %>
   </div>
    </div>
</div>
</ul>
</div>
<br />