
<ul class="thumbnails">
	<div class="row">
    <div class="span7 offset6">
        <div class="well">



<% @posts.each do |post| %>
<div class="container">

	<h3><%= link_to post.title, post %></h3>
  
    <%= image_tag post.picture_url, :width => '50%' if post.picture.present?%> 

    
    
  
<% end %>
   </div>
    </div>
</div>
</ul>

<br />